<!-- Footer -->
<footer class="footer" id="contacts">
  <div class="container footer-container">
    <div class="logo-wrapper">
      <div class="footer-logo">
        <a href="#" class="footer-logo-link" aria-label="Focus.Frame">
          <svg class="logo-icon" width="127" height="20">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <address class="footer-contacts">
        <ul class="contacts-list">
          <li class="footer-contacts-item footer-tel">
            <a class="contacts-link" href="tel:+380665438912"
              >UK: +38 066 543 8912</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link"
              href="https://www.google.de/maps/place/Киев,+Украина,+02000/@50.4015698,30.203057,10z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4503596!4d30.5245025!16zL20vMDJzbjM0?entry=ttu"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >Ukraine, Kyiv</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="social-address-wrap">
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            INSTAGRAM
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            FACEBOOK
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/"
            target="blank"
            rel="noreferrer noopener nofollow"
          >
            YOUTUBE
          </a>
        </li>
      </ul>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about_us">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#our_courses">Our courses</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#our_mentors">Our mentors</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="email-form">
      <label>
        <input
          class="email-input"
          type="email"
          name="email"
          placeholder="Enter your email"
          pattern="[a-z0-9.%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
          title="Invalid email address"
          required
      /></label>
      <button class="btn-email" type="submit">Go</button>
    </form>
    <div class="footer-text-container">
      <p class="privacy-policy">
        Privacy Policy<br />
        Public Offering Agreement
      </p>
      <p>
        2023 Focus Frame<br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>