<header class="header">
  <div class="fix-container header-container container">
    <div class="header-container-mob">
      <div class="header-logo">
        <a
          href="https://goit.global/"
          target="_blank"
          class="header-logo-link"
          aria-label="Focus.Frame"
        >
          <svg class="logo-icon" width="127" height="20">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div class="header-right-items">
        <div class="header-camera-icon">
          <a
            href="#sign_up"
            class="camera-icon-link"
            aria-label="Sign up to contact us"
          >
            <svg class="camera-icon" width="16" height="16">
              <use href="/img/icons.svg#icon-camera"></use>
            </svg>
          </a>
        </div>
        <button type="button" class="burger-btn" aria-label="Open menu">
          <svg class="burger-icon" width="40" height="28">
            <use href="/img/icons.svg#icon-Nav"></use>
          </svg>
        </button>
      </div>
      <ul class="nav">
        <li class="nav-item"><a href="#about_us">About us</a></li>
        <li class="nav-item"><a href="#our_courses">Our courses</a></li>
        <li class="nav-item"><a href="#our_mentors">Our mentors</a></li>
        <li class="nav-item"><a href="#reviews">Reviews</a></li>
        <li class="nav-item"><a href="#contacts">contacts</a></li>
      </ul>
    </div>
    <a href="#sign_up" class="sign-up-button"> sign up </a>
  </div>

  <!-- Menu -->
</header>
<div class="mobile-menu-backdrop"></div>
<div class="mobile-menu">
  <button
    type="button"
    class="mobile-menu__close close-menu"
    aria-label="Close menu"
  >
    <svg width="32" height="32">
      <use href="/img/icons.svg#icon-x-icon"></use>
    </svg>
  </button>
  <div class="mobile-menu-wrapper">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__list-item list-item-active close-menu">
        <a href="#about_us">About us</a>
      </li>
      <li class="mobile-menu__list-item close-menu">
        <a href="#our_courses">Our courses</a>
      </li>
      <li class="mobile-menu__list-item close-menu">
        <a href="#our_mentors">Our mentors</a>
      </li>
      <li class="mobile-menu__list-item close-menu">
        <a href="#reviews">Reviews</a>
      </li>
      <li class="mobile-menu__list-item close-menu">
        <a href="#sign_up">contacts</a>
      </li>
    </ul>

    <div class="mobile-menu-photo-container"></div>
  </div>
</div>

<!-- scroll to top -->
<button id="scrollToTopBtn">&uarr;</button>
