<section class="hero-sect">
  <div class="container hero-container">
    <h1>
      Discover the magic of <span class="main-title-part">photography</span> in
      our school
    </h1>
    <p class="hero-par">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-reviews-box">
      <div class="students-box">
        <ul class="students-list">
          <li class="students-list-item">
            <img
              class="student-img"
              src=""
              alt="student-1"
              width="44"
              height="44"
            />
          </li>
          <li class="students-list-item">
            <img
              class="student-img"
              src=""
              alt="student-2"
              width="44"
              height="44"
            />
          </li>
          <li class="students-list-item">
            <img
              class="student-img"
              src=""
              alt="student-3"
              width="44"
              height="44"
            />
          </li>
        </ul>
        <p>Our happy students</p>
        <svg class="horizontal-arrow" width="18" height="9"></svg>
      </div>
      <div class="reviews-data-box">
        <svg class="star-icon" width="20" height="20"></svg>
        <div class="reviews-par-box">
          <p>Reviews</p>
          <p>+1500</p>
        </div>
      </div>
    </div>
    <img class="hero-img" src="" alt="photographer" width="259" height="314" />
  </div>
</section>
