<section class="our-mentors">
  <div class="container mentors-container">
    <h2 class="mentors-title">Our <span class="mentors">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <!-- DPR 2.0 -->
        <img
          class="mentors-pic-emilia"
          srcset="
            img/mentors/Emilia_Smith@1x.webp 1x,
            img/mentors/Emilia_Smith@2x.webp 2x
          "
          src="../img/mentors/Emilia Smith.webp"
          alt="photo1"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Emilia Smith</h3>
        <p class="mentors-experience">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-alex"
          srcset="
            img/mentors/Alex_Lebedev@1x.webp 1x,
            img/mentors/Alex_Lebedev@2x.webp 2x
          "
          src="../img/mentors/Alex Lebedev.webp"
          alt="photo2"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Alex Lebedev</h3>
        <p class="mentors-experience">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-mia"
          srcset="
            img/mentors/Mia_Dubrovska@1x.webp 1x,
            img/mentors/Mia_Dubrovska@2x.webp 2x
          "
          src="../img/mentors/Mia Dubrovska.webp"
          alt="photo3"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Mia Dubrovska</h3>
        <p class="mentors-experience">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-eliot"
          srcset="
            img/mentors/Eliot_Kovalev@1x.webp 1x,
            img/mentors/Eliot_Kovalev@2x.webp 2x
          "
          src="../img/mentors/Eliot Kovalev.webp"
          alt="photo4"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Eliot Kovalev</h3>
        <p class="mentors-experience">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
