<!-- Our mentors section -->

<section class="our-mentors">
  <div class="container mentors-container">
    <h2 class="mentors-title">Our <span class="mentors">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          class="mentors-pic"
          src=""
          alt="photo1"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Emilia Smith</h3>
        <p class="mentors-experience">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic"
          src=""
          alt="photo2"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Alex Lebedev</h3>
        <p class="mentors-experience">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic"
          src=""
          alt="photo3"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Mia Dubrovska</h3>
        <p class="mentors-experience">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic"
          src=""
          alt="photo4"
          width="180px"
          height="180px"
        />
        <h3 class="mentors-caption">Eliot Kovalev</h3>
        <p class="mentors-experience">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
