<section class="section our-mentors" id="our_mentors">
  <div class="container mentors-container">
    <h2 class="mentors-title">Our <span class="mentors">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <!-- DPR 2.0 -->
        <img
          class="mentors-pic-emilia"
          srcset="
            img/mentors/emilia_smith@1x.webp 1x,
            img/mentors/emilia_smith@2x.webp 2x
          "
          src="../img/mentors/emilia_smith.webp"
          alt="photo1"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-caption">Emilia Smith</h3>
        <p class="mentors-experience">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-alex"
          srcset="
            img/mentors/alex_lebedev@1x.webp 1x,
            img/mentors/alex_lebedev@2x.webp 2x
          "
          src="../img/mentors/alex_lebedev.webp"
          alt="photo2"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-caption">Alex Lebedev</h3>
        <p class="mentors-experience">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-mia"
          srcset="
            img/mentors/mia_dubrovska@1x.webp 1x,
            img/mentors/mia_dubrovska@2x.webp 2x
          "
          src="../img/mentors/mia_dubrovska.webp"
          alt="photo3"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-caption">Mia Dubrovska</h3>
        <p class="mentors-experience">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-pic-eliot"
          srcset="
            img/mentors/eliot_kovalev@1x.webp 1x,
            img/mentors/eliot_kovalev@2x.webp 2x
          "
          src="../img/mentors/eliot_kovalev.webp"
          alt="photo4"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-caption">Eliot Kovalev</h3>
        <p class="mentors-experience">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
