<section class="section" id="reviews">
    <div class="reviews-container container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="reviews-boxs">
            <div class="review-box">
                <div class="student-box">
                    <img src="/img/reviewers/reviewer1.webp" class="reviews-images" alt="Abraham Baker" />
                    <div class="student-description">
                        <h3 class="student-title">Abraham Baker</h3>
                        <p class="students-paragraph">Student</p>
                    </div>
                </div>
                <ul class="reviews-list">
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-item-gray">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-paragraph">
                    I am very pleased that I decided to enroll in photography school. The
                    teachers turned out to be very talented and experienced professionals
                    who share their knowledge and are dedicated to their work. I was able
                    to expand my skills and discover my own style.
                </p>
            </div>
            <div class="review-box reviews-none">
                <div class="student-box">
                    <img src="/img/reviewers/reviewer2.webp" class="reviews-images" alt="Amanda Lowery" />
                    <div class="student-description">
                        <h3 class="student-title">Amanda Lowery</h3>
                        <p class="students-paragraph">Student</p>
                    </div>
                </div>
                <ul class="reviews-list">
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-list-item">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="reviews-item-gray">
                        <svg class="reviews-icon" width="16" height="16">
                            <use href="/img/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-paragraph">
                    The courses at the photography school exceeded all my expectations. I
                    gained not only technical knowledge, but also inspiration and
                    motivation to reach new heights in my creativity. Hands-on classes and
                    workshops helped me understand different styles of photography.
                </p>
            </div>
        </div>
    </div>
</section>