<section class="section" id="sign_up">
  <div class="container sign-up-cont">
    <div class="sign-up">
      <h2 class="form-caption">Sign <span class="accent">Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form">
        <input
          class="form-input"
          type="text"
          id="user-name"
          name="user-name"
          placeholder="Enter your name"
          pattern="[A-Za-z]"
        />

        <input
          class="form-input"
          type="email"
          id="user-email"
          name="user-email"
          placeholder="Enter your email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />

        <textarea
          class="form-message"
          name="user-message"
          id="user-message"
          rows="6"
          placeholder="Message"
        ></textarea>

        <button class="form-btn" type="submit">Send</button>

        <p class="form-agreement">
          By clicking on “Send” button, you agree to our
          <a class="form-agreement-link" href="">Privacy Policy</a>, and allow
          Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-up-photo">
      <div class="sign-up-photo-objectiv">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/sign_up/luxoptica_desk@1x.webp 1x,
              ./img/sign_up/luxoptica_desk@2x.webp 2x
            "
          />
          <img
            src="./img/sign_up/luxoptica_desk@1x.webp"
            class="photo-objectiv"
            alt="photo objectiv"
            width="150"
            height="142"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="sign-up-photo-camera">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/sign_up/video_desk@1x.webp 1x,
              ./img/sign_up/video_desk@2x.webp 2x
            "
          />
          <img
            src="./img/sign_up/video_desk@1x.webp"
            class="photo-camera"
            alt="photo camera"
            width="240"
            height="296"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
