<div class="container">
  <div class="sign-up">
    <h2 class="form-caption">Sign <span class="accent">Up</span></h2>
    <p class="sign-up-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="sign-up-form">
      <input
        class="form-input"
        type="text"
        id="user-name"
        name="user-name"
        placeholder="Enter your name"
      />

      <input
        class="form-input"
        type="email"
        id="user-email"
        name="user-email"
        placeholder="Enter your email"
      />

      <textarea
        class="form-message"
        name="user-message"
        id="user-message"
        rows="6"
        placeholder="Message"
      ></textarea>

      <button class="form-btn" type="submit">Send</button>

      <p class="form-agreement">
        By clicking on “Send” button, you agree to our
        <a class="form-agreement-link" href="">Privacy Policy</a>, and allow
        Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
