.fon-us {
  color: #BEA69E;
}

.about-us {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    padding-bottom: 150px;
  }
}

.about-text {
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 48px;
    letter-spacing: -0.32px;
  }
}

.camera {
  width: 100%;
 padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .camera {
    padding-bottom: 50px;
    width: 704px;
    height: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .camera {
    margin-bottom: 0;
    width: 488px;
    height: 260px;
    padding-bottom: 0;
  }
}

.school {
  padding-bottom: 20px;
  line-height: 18px; 
}

@media screen and (min-width: 768px) {
  .school {
    padding-bottom: 0;
    line-height: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .school {
    width: 268px;
  }
}

@media screen and (min-width: 768px) {
  .text {
    width: 600px;
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .text {
    width: 552px;
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .desk {
    width: 100%;
    height: 260px;
    display: flex;
    gap: 40px;
  }
}


@media screen and (min-width: 768px) {
  .courses {
    width: 280px;
    height: 215px;
    font-size: 16px;
  }
  }

  @media screen and (min-width: 1280px) {
    .courses {
      width: 264px;
      line-height: 19px;
    }
  }
  

@media screen and (min-width: 768px) {
  .about-school {
    width: 280px;
    height: 240px;
  }
  }
  
@media screen and (min-width: 1280px) {
.about-school {
  width: 268px;
  font-size: 16px;
  line-height: 20px;
}
}

