.container {
    max-width: 375px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.fon-us {
  color: #BEA69E;
}

.about-text {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .about-text {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.13;
  }
}

.camera {
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .camera  {
    margin-bottom: 50px;
    width: 704px;
    height: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .camera  {
    margin-bottom: 0;
    width: 488px;
    height: 260px;
  }
}

.school {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .school {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .school {
    margin-bottom: 0;
  }
}

  
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  p  {
    width: 280px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
.text {
  display: flex;
  gap: 40px;
}
}

@media screen and (min-width: 1280px) {
  .text {
    display: flex;
    gap: 20px;
}
}

@media screen and (min-width: 1280px) {
  .desk {
    display: flex;
    gap: 40px;
  }
  }
