.fon-us {
  color: #BEA69E;
}

.about-text {
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 48px;
    letter-spacing: -0.32px;
  }
}

.camera {
  width: 100%;
 padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .camera {
    padding-bottom: 50px;
    width: 704px;
    height: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .camera {
    margin-bottom: 0;
    width: 488px;
    height: 260px;
    padding-bottom: 0;
  }
}

.school {
  line-height: 18px; 
}

@media screen and (min-width: 768px) {
  .school {
    line-height: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .school {
    font-size: 16px;
  line-height: 20px;
  width: 268px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .text {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .desk {
    width: 100%;
    height: 260px;
    display: flex;
    gap: 40px;
  }
}


@media screen and (min-width: 768px) {
  .courses {
    font-size: 16px;
  }
  }

  @media screen and (min-width: 1280px) {
    .courses {
    line-height: 19px;
    width: 264px;
    }
  }