
.fon-us {
  color: #BEA69E;
}

.about-text {
  padding-bottom: 40px;
  font-weight: 500;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 48px;
    letter-spacing: -0.32px;
  }
}

.camera {
  width: 100%;
 padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .camera {
    padding-bottom: 50px;
    width: 704px;
    height: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .camera {
    margin-bottom: 0;
    width: 488px;
    height: 260px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .school {
    width: 280px;
  }
  }

@media screen and (min-width: 1280px) {
  .school {
  width: 268px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .text {
    max-width: 552px;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .desk {
    display: flex;
    gap: 40px;
  }
}


@media screen and (min-width: 768px) {
  .courses {
    width: 280px;
  }
  }

  @media screen and (min-width: 1280px) {
    .courses {
            width: 264px;
      line-height: 1.25;
    
    
    }
  }
