.section-marque {
  padding-bottom: 40px;
}

.marquee-infinite {
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  max-width: 100%;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  animation-name: marquee-infinite;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 400%;
}

.marquee-line {
  color: #bea69e;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  white-space: nowrap;
  width: 100%;
}
.color_line {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .marquee-line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .color_line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
  }
  .marquee-inner {
    animation-duration: 11s;
    width: 300%;
  }
  .section-marque {
    padding-bottom: 50px;
  }
  /* .marquee-infinite {
    margin-bottom: 50px;
  } */
}
@media screen and (min-width: 1280px) {
  .marquee-line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
  .color_line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
  .marquee-inner {
    animation-duration: 12s;
    width: 200%;
  }
  .section-marque {
    padding-bottom: 75px;
  }
  /* .marquee-infinite {
    margin-bottom: 75px;
  } */
}
@media screen and (min-width: 1800px) {
  .marquee-inner {
    width: 195%;
  }
}
