.marquee-infinite {
  margin-bottom: 80px;
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  max-width: 100%;
  overflow: hidden;
}
.marquee-inner {
  display: flex;
}
.marquee-line {
  flex-shrink: 0;
  color: #bea69e;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  animation-name: marquee-infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.color_line {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.marquee-infinite h2 {
  white-space: nowrap;
}
@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) {
  .marquee-infinite {
    margin-bottom: 100px;
  }
  .marquee-line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 40px;
  }
  .color_line {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
  }
}
@media screen and (min-width: 1280px) {
  .marquee-infinite {
    margin-bottom: 150px;
  }
  .marquee-line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 40px;
  }
  .color_line {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
}
