*,
*::before,
*::after {
  box-sizing: border-box;
}

.marquee {
  overflow: hidden;
  /* color: #bea69e;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: #121212; */
}
.color_line {
  color: #fff;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: #121212;
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #bea69e;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: #121212;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
