/* Footer */
.footer-container {
  max-width: 375px;
  min-width: 320px;
  padding: 40px 20px 20px 20px;
  margin: 0 auto;
}
.footer-logo {
  margin-bottom: 16px;
  height: 20px;
}
.logo-icon {
  fill: #fff;
}
.footer-contacts {
  width: 143px;
  height: 46px;
  margin-bottom: 40px;
  display: flex;
}
.contacts-list {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.footer-contacts-item {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.social-address-wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.social-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-nav-list {
  gap: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}
.footer-nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.email-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  background: #fff;
  border: transparent;
}

input::placeholder {
  opacity: 0.7;
}

.btn-email {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #1d1d1d;
  color: #fff;
  border: transparent;
  margin-bottom: 40px;
}
.footer-text-container {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
/* tabl */
@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 32px 25px 32px;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .contacts-list {
    justify-content: normal;
    gap: 10px;
  }
  .footer-contacts {
    margin-right: 58px;
    margin-bottom: 0;
  }
  .social-address-wrap {
    gap: 30px;
  }
  .email-input {
    width: 178px;
    margin-left: 47px;
  }
  .btn-email {
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  .privacy-policy {
    margin-right: 399px;
    min-width: 171px;
    max-height: 36px;
  }
}
/* desktop */
@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1280px;
    padding: 50px 100px 25px 100px;
  }
  .footer-contacts {
    margin-right: 285px;
  }
  .social-address-wrap {
    gap: 50px;
  }
  .email-input {
    width: 216px;
    margin-left: 135px;
  }
  .privacy-policy {
    margin-right: 773px;
  }
}
