.header-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .header-container {
    gap: 20px;
  }
}

.header-container-mob {
  display: flex;
  height: 60px;
  padding: 0 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  width: 100%;
}

.header-camera-icon {
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.camera-icon {
  fill: #bea69e66;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon:hover,
.camera-icon:focus {
  fill: #bea69e;
}

@media screen and (min-width: 768px) {
  .header-camera-icon {
    display: none;
  }
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  stroke: white;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
}

.sign-up-button {
  display: none;
}

.header-right-items {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sign-up-button {
    display: block;
    margin-left: auto;
    min-width: 168px;
    border-radius: 12px;
    border: none;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }

  .sign-up-button:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-button {
    min-width: 238px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    gap: 28px;
    margin-right: 50px;
  }

  .nav-item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: #bea69e;
    transform: scale(1.05);
  }
}
