.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .header-container {
    gap: 20px;
  }
}

.header-container-mob {
  display: flex;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  width: 100%;
  background-color: #121212;
}
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .header-container-mob {
    margin: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .header-container-mob {
    height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container-mob {
    padding-left: 50px;
    padding-right: 0;
  }
}

.header-camera-icon {
  background-color: #1d1d1d;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}

.camera-icon {
  fill: #bea69e66;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon:hover,
.camera-icon:focus {
  fill: #bea69e;
}

@media screen and (min-width: 768px) {
  .header-camera-icon {
    display: none;
  }
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  stroke: white;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
}

.sign-up-button {
  display: none;
}

.header-right-items {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sign-up-button {
    display: flex;
    margin-left: auto;
    min-width: 168px;
    border-radius: 12px;
    border: none;
    background: #fff;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }

  .sign-up-button:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-button {
    min-width: 238px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    gap: 28px;
    margin-right: 50px;
  }

  .nav-item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out;
  }

  .nav-item:hover,
  .nav-item:focus {
    color: #bea69e;
    transform: scale(1.05);
  }
}

.logo-icon {
  fill: #fff;
}

/* #region Mob menu */

.mobile-menu {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  background-color: #bea69e;
  transform: translateX(100%);
  width: 70vw;
  max-height: 812px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    max-height: 70vw;
    width: 480px;
  }
}

.mobile-menu.active {
  transform: translateX(0%);
}
.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  stroke: #1d1d1d;
  background-color: #bea69e;
  color: #2e2f42;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-photo-container {
  background-image: url(../img/header_menu/menu_mob@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 110vw;
}

@media screen and (min-width: 768px) {
  .mobile-menu-photo-container {
    background-image: url(../img/header_menu/menu_tab@1x.webp);
    height: 60vw;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 180px;
}

.mobile-menu__list-item {
  margin-bottom: 20px;
}

.mobile-menu__list-item > a {
  color: #121212;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.list-item-active > a {
  color: #1d1d1d;
  font-weight: 700;
}

.icon-list--mobile-menu {
  margin-top: 48px;
  justify-content: space-between;
}

.mobile-menu__address-item {
  margin-top: 24px;
  font-weight: 500;
}

.mobile-menu__address li:nth-child(2) a {
  color: #2e2f42;
}

.mobile-menu-img {
  padding: 0;
  margin: 0;
}

/* Backdrop */
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

/* scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 12px;
  background-color: transparent;
  color: white;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (min-width: 1280px) {
  #scrollToTopBtn {
    bottom: 25px;
    right: 25px;
    padding: 12px 14px;
  }
}

#scrollToTopBtn.visible {
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}
