/* Hero Section */

.hero-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #1D1D1D;
    padding: 40px 20px 0px 20px;
}

h1 {
font-size: 40px;
font-weight: 500;
line-height: 1.1; /* 110% */
letter-spacing: -0.04em;
margin-bottom: 20px;
}

.main-title-part {
    color: #BEA69E;
font-style: italic;
font-weight: 400;
}

.hero-par {
    margin-bottom: 40px;
}

.hero-reviews-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}
.students-list {
    display: flex;
    flex-direction: row;
}
.students-list-item {
}
.student-img {
}
.students-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.student-text-box {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.student-text-box p {
    width: 67px;
    height: 36px auto;
}

.horizontal-arrow {
    fill: #FFFFFF;
}

.reviews-data-box { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star-icon { 
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #BEA69E;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.reviews-par-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.reviews-par-box p:first-child {
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
line-height: 1.8; /* 128.571% */
letter-spacing: -0.04em;
}

.hero-img {
    margin: auto;
}