/* Hero Section */

.hero-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #1d1d1d;
  padding: 40px 20px 0px 20px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.main-title-part {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
}

.hero-par {
  margin-bottom: 40px;
}

.hero-reviews-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.students-list {
  display: flex;
  flex-direction: row;
  padding-right: 1px;
}
.students-list-item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 100px;
border: 2px solid #1D1D1D;
margin-right: -8px;
}
.student-img {
}
.students-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.student-text-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.student-text-box p {
  width: 67px;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.04em;
}

.horizontal-arrow {
  fill: #ffffff;
}

.reviews-data-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-icon {
    fill: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #bea69e;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  stroke-width: 1.5px;
stroke: #121212;
}

.reviews-par-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviews-par-box p:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8; /* 128.571% */
  letter-spacing: -0.04em;
}

.hero-img {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
    padding-top: 64px;
    padding-left: 32px;
  }

  h1 {
    width: 517px;
    font-size: 60px;
    line-height: 1.07;
    letter-spacing: -0.04em;
  }

  .hero-par {
    width: 418px;
  }

  .students-box {
    flex-direction: row;
    gap: 12px;
  }

  .students-list {
    padding: 0;
  }

  .student-img {
    width: 54px;
    height: 54px;
}
 

  
  .student-text-box p {
    width: 82px;
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-img {
    width: 393px;
    height: 434px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1280px;
    position: relative;
    padding: 80px 50px 0;
  }

  /* .container {
    position: relative;
  }
  
  .hero-img {
    position: absolute;
    top: 0;
    right: 0;
  } */

  h1 {
    width: 563px;
    font-size: 64px;
    font-weight: 500;
  }

  .hero-par {
    margin-bottom: 136px;
  }

  .hero-reviews-box {
    margin-bottom: 50px;
  }

  .hero-img {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 397px;
    height: 520px;
  }
}