.courses-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.accent {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04;
}
@media only screen and (min-width: 768px) {
  .courses-title,
  .accent {
    font-size: 48px;
    line-height: 1.12;
  }
}

.courses-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .courses-wrapper {
    margin-bottom: 50px;
  }
}

.courses-text {
  width: 100%;
  max-width: 335px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .courses-text {
    max-width: 381px;
  }
}
@media only screen and (min-width: 1280px) {
  .courses-text {
    max-width: 405px;
  }
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courses-item {
  padding: 28px;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .courses-item {
    padding: 32px;
    width: calc((100% - 20px) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .courses-item {
    width: calc((100% - 40px) / 3);
  }
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .card-top {
    margin-bottom: 32px;
  }
}

.courses-link {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-link:hover,
.courses-link:focus,
.courses-link:active {
    background-color: #BEA69E;
}

.courses-link:hover>.courses-icon,
.courses-link:focus>.courses-icon,
.courses-link:active>.courses-icon {
    stroke: #FFFFFF;
}

.courses-icon {
  fill: transparent;
  stroke: #777777;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}
@media only screen and (min-width: 768px) {
  .courses-name {
    margin-bottom: 180px;
  }
}


.number {
  color: #FFFFFF66;
}

.courses-caption {
    color: #FFFFFF80;
}
@media only screen and (min-width: 768px) {
  .courses-caption {
    font-size: 16px;
    line-height: 1.25;
  }
}
