/* Mentor section */

.our-mentors {
  background-color: #121212;
}

@media only screen (max-width: 1280px) {
  .our-mentors {
    padding: 0 100px;
  }
}

.mentors-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.mentors {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: -0.04;
}

.mentors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .mentors-list {
    gap: 93px 100px;
  }
}

.mentors-item {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mentors-item {
    width: calc((100% - 100px * 1) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .mentors-item {
    width: calc((100% - 100px * 3) / 4);
  }
}

.mentors-pic {
  border-radius: 200px;
  border-radius: 200px;
  background: var(
    --avatar-user-square-brianna-ware-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
  margin: 0 auto;
}

.mentors-caption {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .mentors-caption {
    font-size: 28px;
    line-height: 1.14;
  }
}

.mentors-experience {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .mentors-experience {
    font-size: 14px;
    line-height: 1.29;
  }
}
