/* Mentor section */

.mentors-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .mentors-title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .mentors-title {
    font-size: 48px;
    line-height: 1.12;
  }
}

.mentors {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: -0.04;
}

@media screen and (min-width: 768px) {
  .mentors {
    font-size: 48px;
    line-height: 1.12;
  }
}

.mentors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .mentors-list {
    gap: 93px 100px;
    margin: 0 115px;
  }
}

@media screen and (min-width: 1280px) {
  .mentors-list {
    margin: 0 auto;
  }
}

.mentors-item {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mentors-item {
    width: calc((100% - 100px * 1) / 2);
    max-width: 194px;
  }
}
@media screen and (min-width: 1280px) {
  .mentors-item {
    width: calc((100% - 100px * 3) / 4);
  }
}

.mentors-pic-emilia {
  flex-shrink: 1;
  border-radius: 200px;
  margin: 0 auto;
  background: var(
    --avatar-user-square-brianna-ware-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}
.mentors-pic-alex {
  border-radius: 200px;
  margin: 0 auto;
  background: var(
    --avatar-user-square-liam-hood-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}
.mentors-pic-mia {
  border-radius: 200px;
  margin: 0 auto;
  background: var(
    --avatar-user-square-priya-shepard-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}

.mentors-pic-eliot {
  border-radius: 200px;
  margin: 0 auto;
  background: var(
    --avatar-user-square-owen-garcia-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}

.mentors-caption {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .mentors-caption {
    font-size: 28px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .mentors-caption {
    font-size: 28px;
    line-height: 1.14;
    width: 194px;
  }
}

.mentors-experience {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .mentors-experience {
    font-size: 14px;
    line-height: 1.29;
  }
}
